*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container{
    max-width: 1200px;
}


.margin-container{
    margin: 0 auto;
}










.height-50{
    height: 50px;
}

.height-300{
    height: 300px;
}

.height-600{
    height: 600px;
}

.bg-orange{
    background-color: orange;
}

.bg-pink{
    background-color: pink;
}

.bg-aquamarine{
    background-color: aquamarine;
}

.bg-green{
    background-color: green;
}



.border-column{
    border: 1px dashed black;
}

.border-column-white{
    border: 1px dashed white;
}

/* HEADER */

header{
    background-color: rgba(37,94,233,255);
    height: 75px;
    padding: 10px 0;
}

.font{
    font-family: 'Onest', sans-serif;
}

.row{
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.col-15{
    width: 15%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.flex{
    display: flex;
    justify-content: flex-end;
}

.button{
    padding: 7px;
    font-size: 12px;
    border: none;
    border-radius: 12px;
}

.col-70{
    width: 70%;
}

.nav{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* MAIN */

.container-sm{
    max-width: 991px;
}

.bg-darkblue{
    padding: 20px 0;
}

.img-header{
    padding: 20px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.col-100{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titolo{
    font-family: 'Onest', sans-serif;
    color: white;
    font-size: 50px;
}

.col-60{
    width: 60%;
    display: flex;
    justify-content: center;
}

.item-1{
    height: 400px;
}

.col-40{
    width: 40%;
    display: flex;
}

.titolo-item-1{
    font-family: 'Onest', sans-serif;
    font-size: 30px;
    align-self: center;
}

.bg-grey{
    background-color: grey;
}

.img-finale-main{
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-top: 50px;
}

.margin-y-30{
    margin: 30px 0;
}

.padding-y-30{
    padding: 30px 0;
}

/* FOOTER */

footer{
    background-color: rgb(59, 59, 59);
    padding-top: 10px;
}

hr{
    background-color: grey;
    margin: 10px 0;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side{
    padding: 10px;
}

.padding-y-10{
    padding: 10px 0;
}