*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.container{
    max-width: 1200px;
}

.container-sm{
    max-width: 991px;
}

.margin-container{
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}

.col-15{
    width: 15%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.height-50{
    height: 50px;
}

.height-300{
    height: 300px;
}

.height-600{
    height: 600px;
}

.bg-orange{
    background-color: orange;
}

.bg-pink{
    background-color: pink;
}

.bg-aquamarine{
    background-color: aquamarine;
}

.bg-green{
    background-color: green;
}

.bg-grey{
    background-color: grey;
}

.border-column{
    border: 1px dashed black;
}

.border-column-white{
    border: 1px dashed white;
}

/* HEADER */

header{
    background-color: lightblue;
    height: 75px;
    padding: 10px 0;
}

/* MAIN */

.bg-darkblue{
    background-color: darkblue;
    padding: 20px 0;
}

.margin-y-30{
    margin: 30px 0;
}

.padding-y-30{
    padding: 30px 0;
}

/* FOOTER */

footer{
    background-color: rgb(59, 59, 59);
    padding-top: 10px;
}

hr{
    background-color: grey;
    margin: 10px 0;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side{
    padding: 10px;
}

.padding-y-10{
    padding: 10px 0;
}